{% extends "detdom/base.html" %}

{% load static %}

{% block title %}{{ header }}{% endblock %}

{% block content %}

<section class="py-5 text-left container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h2 class="fw-light">История</h2>
            <p class="lead text-muted">
                Учреждение создано в 1944 году и является старейшим в Ленинградской области. Детский дом расположен в пригородной зоне в 70-ти километрах от Санкт-Петербурга, в поселке Сиверский на живописном берегу реки Оредеж. Его территория составляет 4,5 гектара. Учреждение размещается в двух типовых благоустроенных зданиях. Оба здания постройки 1972 года.
                В настоящее время в учреждении проживает, воспитывается и обучается 135 детей. Социальный статус воспитанников - дети-сироты и дети, лишившиеся попечения родителей. Возраст детей от 2,5 до 20 лет.
                Воспитанники учреждения это дети с проблемами в развитии, трудностями в обучении и особыми социальными нуждами. Важнейшими направлениями деятельности учреждения являются:
            </p>
            <h2 class="fw-light">Цели</h2>
            <p class="lead text-muted">Охрана, укрепление здоровья и медицинское обслуживание - лечебно-оздоровительная работа</p>
            <p class="lead text-muted">Организация комфортных условий для проживания</p>
            <p class="lead text-muted">Коррекция нарушенного развития</p>
            <p class="lead text-muted">Воспитание и обучение</p>
            <p class="lead text-muted">Охрана прав и защита социально-экономических интересов</p>
            <p class="lead text-muted">Развитие творческих способностей воспитанников</p>
        </div>
    </div>
</section>


{% endblock %}